@import url('https://fonts.googleapis.com/css?family=Roboto:100,400,700,900&display=swap');

$mainFont: 'Roboto', sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: $mainFont;
  letter-spacing: 0.4px;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
}